{% extends 'base.html' %}

{% block title %}Home{% endblock title %}


{% block body %}
<div class="container-fluid px-0">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
                <img src="/static/1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h1 style="color:#F8FF00"; >Welcome to <b>RECursion</b></h1>
            <h2 style="color:#FF00BD";>Programming Community of <b>NIT Durgapur</b></h2>
            <p>We focus on improving coding culture institute wide by conducting regular lectures from beginner to advance topics of programming. Our goal is to increase student's participation in inter-collegiate contest like ACM-ICPC and help them get better.</p>
        </div>
        </div>
        

</div>


<div class="container my-3">
<h1 style="color:#FF0000"; class="my-4 text-center"> <b>𝓜𝓮𝓮𝓽 𝓣𝓱𝓮 𝓣𝓮𝓪𝓶</b></h1>
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
        <img src="https://www.recursionnitd.in/media/images/Hritesh_Mourya_zAHFfJq.png" class="d-block w-100" alt="...">
            
            <div class="card-body">
              <p  class="card-text"> <h4 style="color:#FF0000";> Hritesh Mourya <h4></p>
              
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.linkedin.com/in/hritesh-mourya-9a75801b1/"  target="_blank" >LinkedIn</a></button>
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.facebook.com/hm1999.15" target="_blank" >Facebook</a></button>
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="tel:+919874019487" target="_blank" >Phone</a></button>
                </div>
                <small class="text-muted">President</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
        <img src="https://www.recursionnitd.in/media/images/Anuj_Patel_FRV75hz.png" class="d-block w-100" alt="...">
            
            <div class="card-body">
              <p  class="card-text"> <h4 style="color:#FF0000";> Anuj Patel <h4></p>
              
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.linkedin.com/in/hritesh-mourya-9a75801b1/"  target="_blank" >LinkedIn</a></button>
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.facebook.com/hm1999.15" target="_blank" >Facebook</a></button>
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="tel:+919874019487" target="_blank" >Phone</a></button>
                </div>
                <small class="text-muted">Treasurer</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
        <img src="https://www.recursionnitd.in/media/images/Chilukuri_Sri_Harsha.png" class="d-block w-100" alt="...">
            
            <div class="card-body">
              <p  class="card-text"> <h4 style="color:#FF0000";> Chilukuri Sri Harsha <h4></p>
              
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.linkedin.com/in/hritesh-mourya-9a75801b1/"  target="_blank" >LinkedIn</a></button>
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.facebook.com/hm1999.15" target="_blank" >Facebook</a></button>
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="tel:+919874019487" target="_blank" >Phone</a></button>
                </div>
                <small class="text-muted">President </small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
        <img src="https://www.recursionnitd.in/media/images/Ishika_Chowdhury.png" class="d-block w-100" alt="...">
            
            <div class="card-body">
              <p  class="card-text"> <h4 style="color:#FF0000";> Ishika Chowdhury <h4></p>
              
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.linkedin.com/in/hritesh-mourya-9a75801b1/"  target="_blank" >LinkedIn</a></button>
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.facebook.com/hm1999.15" target="_blank" >Facebook</a></button>
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="tel:+919874019487" target="_blank" >Phone</a></button>
                </div>
                <small class="text-muted">Convener</small>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
        <img src="https://www.recursionnitd.in/media/images/Hritesh_Mourya_zAHFfJq.png" class="d-block w-100" alt="...">
            
            <div class="card-body">
              <p  class="card-text"> <h4 style="color:#FF0000";> Hritesh Mourya <h4></p>
              
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.linkedin.com/in/hritesh-mourya-9a75801b1/"  target="_blank" >LinkedIn</a></button>
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.facebook.com/hm1999.15" target="_blank" >Facebook</a></button>
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="tel:+919874019487" target="_blank" >Phone</a></button>
                </div>
                <small class="text-muted">President</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
        <img src="https://www.recursionnitd.in/media/images/Hritesh_Mourya_zAHFfJq.png" class="d-block w-100" alt="...">
            
            <div class="card-body">
              <p  class="card-text"> <h4 style="color:#FF0000";> Hritesh Mourya <h4></p>
              
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.linkedin.com/in/hritesh-mourya-9a75801b1/"  target="_blank" >LinkedIn</a></button>
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.facebook.com/hm1999.15" target="_blank" >Facebook</a></button>
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="tel:+919874019487" target="_blank" >Phone</a></button>
                </div>
                <small class="text-muted">President</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
        <img src="https://www.recursionnitd.in/media/images/Hritesh_Mourya_zAHFfJq.png" class="d-block w-100" alt="...">
            
            <div class="card-body">
              <p  class="card-text"> <h4 style="color:#FF0000";> Hritesh Mourya <h4></p>
              
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.linkedin.com/in/hritesh-mourya-9a75801b1/"  target="_blank" >LinkedIn</a></button>
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.facebook.com/hm1999.15" target="_blank" >Facebook</a></button>
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="tel:+919874019487" target="_blank" >Phone</a></button>
                </div>
                <small class="text-muted">President</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
        <img src="https://www.recursionnitd.in/media/images/Hritesh_Mourya_zAHFfJq.png" class="d-block w-100" alt="...">
            
            <div class="card-body">
              <p  class="card-text"> <h4 style="color:#FF0000";> Hritesh Mourya <h4></p>
              
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.linkedin.com/in/hritesh-mourya-9a75801b1/"  target="_blank" >LinkedIn</a></button>
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.facebook.com/hm1999.15" target="_blank" >Facebook</a></button>
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="tel:+919874019487" target="_blank" >Phone</a></button>
                </div>
                <small class="text-muted">President</small>
              </div>
            </div>
          </div>
        </div>



        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
        <img src="https://www.recursionnitd.in/media/images/Hritesh_Mourya_zAHFfJq.png" class="d-block w-100" alt="...">
            
            <div class="card-body">
              <p  class="card-text"> <h4 style="color:#FF0000";> Hritesh Mourya <h4></p>
              
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.linkedin.com/in/hritesh-mourya-9a75801b1/"  target="_blank" >LinkedIn</a></button>
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="https://www.facebook.com/hm1999.15" target="_blank" >Facebook</a></button>
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="tel:+919874019487" target="_blank" >Phone</a></button>
                </div>
                <small class="text-muted">President</small>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div><hr class="mt-0" style="background-color:#cccccc;">

    <!-- ALUMNI SECTION -->
<center><h1 style="margin-top:5%; margin-bottom: 2%; color:#F95c39;"><b>𝓜𝓮𝓮𝓽 𝓞𝓾𝓻 𝓐𝓵𝓾𝓶𝓷𝓲</b></h1></center>
  <div class="container mt-4">
    <div class="row">

           
        <div class="col-sm-4 col-md-2 col-lg-3">
          <center>
            <img class="head mt-3 mb-2 rounded-circle" src="https://www.recursionnitd.in/media/images/Anupam_Singh_YtCpjVR.png" style="border: solid 5px #FD1B00; border-radius: 100%;"height="120px" width="120px"><br>
            <strong>Md Umar</strong><br>
            <small class="text-muted">Head of Public Relations</small>
          </center>
        </div>
     
                   
        <div class="col-sm-4 col-md-2 col-lg-3">
          <center>
            <img class="head mt-3 mb-2 rounded-circle" src="https://www.recursionnitd.in/media/images/Ayush_Krishna_Murthi_WQUkqgy.png" style="border: solid 5px #FD1B00; border-radius: 100%;"height="120px" width="120px"><br>
            <strong>Md Umar</strong><br>
            <small class="text-muted">Head of Public Relations</small>
          </center>
        </div>
     
                   
        <div class="col-sm-4 col-md-2 col-lg-3">
          <center>
            <img class="head mt-3 mb-2 rounded-circle" src="https://www.recursionnitd.in/media/images/Ayush_Kumar_Shukla.png" style="border: solid 5px #FD1B00; border-radius: 100%;"height="120px" width="120px"><br>
            <strong>Md Umar</strong><br>
            <small class="text-muted">Head of Public Relations</small>
          </center>
        </div>
                
        <div class="col-sm-4 col-md-2 col-lg-3">
          <center>
            <img class="head mt-3 mb-2 rounded-circle" src="https://www.recursionnitd.in/media/images/Nikhil_Vashistha.png" style="border: solid 5px #FD1B00; border-radius: 100%;"height="120px" width="120px"><br>
            <strong>Md Umar</strong><br>
            <small class="text-muted">Head of Public Relations</small>
          </center>
        </div>
     

        <div class="col-sm-4 col-md-2 col-lg-3">
          <center>
            <img class="head mt-3 mb-2 rounded-circle" src="https://www.recursionnitd.in/media/images/Anupam_Singh_YtCpjVR.png" style="border: solid 5px #FD1B00; border-radius: 100%;"height="120px" width="120px"><br>
            <strong>Md Umar</strong><br>
            <small class="text-muted">Head of Public Relations</small>
          </center>
        </div>

        <div class="col-sm-4 col-md-2 col-lg-3">
          <center>
            <img class="head mt-3 mb-2 rounded-circle" src="https://www.recursionnitd.in/media/images/Anupam_Singh_YtCpjVR.png" style="border: solid 5px #FD1B00; border-radius: 100%;"height="120px" width="120px"><br>
            <strong>Md Umar</strong><br>
            <small class="text-muted">Head of Public Relations</small>
          </center>
        </div>

        <div class="col-sm-4 col-md-2 col-lg-3">
          <center>
            <img class="head mt-3 mb-2 rounded-circle" src="https://www.recursionnitd.in/media/images/Anupam_Singh_YtCpjVR.png" style="border: solid 5px #FD1B00; border-radius: 100%;"height="120px" width="120px"><br>
            <strong>Md Umar</strong><br>
            <small class="text-muted">Head of Public Relations</small>
          </center>
        </div>

        <div class="col-sm-4 col-md-2 col-lg-3">
          <center>
            <img class="head mt-3 mb-2 rounded-circle" src="https://www.recursionnitd.in/media/images/Anupam_Singh_YtCpjVR.png" style="border: solid 5px #FD1B00; border-radius: 100%;"height="120px" width="120px"><br>
            <strong>Md Umar</strong><br>
            <small class="text-muted">Head of Public Relations</small>
          </center>
        </div>

        <center class="col-sm-12 col-md-12 col-lg-12"><h1 style="margin-top:1%; margin-bottom: 2%; color:#038236;"><small><b>Batch of 2020</b></small></h1></center>

        <div class="col-sm-4 col-md-2 col-lg-3">
          <center>
            <img class="head mt-3 mb-2 rounded-circle" src="https://www.recursionnitd.in/media/images/Anupam_Singh_YtCpjVR.png" style="border: solid 5px #00FF67; border-radius: 100%;"height="120px" width="120px"><br>
            <strong>Md Umar</strong><br>
            <small class="text-muted">Head of Public Relations</small>
          </center>
        </div>


        <div class="col-sm-4 col-md-2 col-lg-3">
          <center>
            <img class="head mt-3 mb-2 rounded-circle" src="https://www.recursionnitd.in/media/images/Anupam_Singh_YtCpjVR.png" style="border: solid 5px #00FF67; border-radius: 100%;"height="120px" width="120px"><br>
            <strong>Md Umar</strong><br>
            <small class="text-muted">Head of Public Relations</small>
          </center>
        </div>

        <div class="col-sm-4 col-md-2 col-lg-3">
          <center>
            <img class="head mt-3 mb-2 rounded-circle" src="https://www.recursionnitd.in/media/images/Anupam_Singh_YtCpjVR.png" style="border: solid 5px #00FF67; border-radius: 100%;"height="120px" width="120px"><br>
            <strong>Md Umar</strong><br>
            <small class="text-muted">Head of Public Relations</small>
          </center>
        </div>

        <div class="col-sm-4 col-md-2 col-lg-3">
          <center>
            <img class="head mt-3 mb-2 rounded-circle" src="https://www.recursionnitd.in/media/images/Anupam_Singh_YtCpjVR.png" style="border: solid 5px #00FF67; border-radius: 100%;"height="120px" width="120px"><br>
            <strong>Md Umar</strong><br>
            <small class="text-muted">Head of Public Relations</small>
          </center>
        </div>









        
        
      </div>
    </div>

    
    <footer class="section footer-classic context-dark bg-image" style="background: -webkit-gradient(linear, 0 50%, 0 100%, from(white), color-stop(0.5, yellow), to(red));    >
    <a id="goTop">
        <center class="circle" onclick="window.scrollTo(0,-1000000)">
            
            <img src="/static/rocket.png" alt="go Top" onclick="window.scrollTo(0,-1000000)" style="margin-top: 2px;">
        </center>
    </a>
    <div class="container">
        <div class="row row-30">
            <div class="col-md-4 col-xl-5">
                <div class="pr-xl-4">
                    <strong>Contribute to this community</strong><br>
                    <a href="https://www.facebook.com/recursion.nit/"><i class="fab fa-facebook-f"></i></a>&nbsp;
                    <a href="https://github.com/RECursion-NITD"><i class="fab fa-github"></i></a><br>
                    <!-- Credits -->
                    <strong>Developed & designed with <i class="fas fa-heart" style="color: red"></i> by <a  style="text-decoration:none" href="/forum/webdteam/">Web Team '18-19</a></strong>
                    <!-- Rights-->
                    <p class="rights"><span>©  </span>
                        <span class="copyright-year">
            <script>document.write(new Date().getFullYear())</script>  
        </span><span>RECursion</span><span>. </span><span>All Rights Reserved.</span></p>
                </div>
            </div>

            <div class="col-md-4">
                <h3>Contacts</h3>
                <dl class="contact-list">
                    <dt>Address:</dt>
                    <dd><i class="fas fa-map-marked-alt"></i> NIT Durgapur, Durgapur, W.B.</dd>
                </dl>
                <dl class="contact-list">
                    <dt>Email:</dt>
                    <dd><i class="fas fa-envelope"></i><a href="mailto:recursion.nit@gmail.com">  recursion.nit@gmail.com</a></dd>
                </dl>
                <dl class="contact-list">
                    <dt>Phones:</dt>
                    <dd><i class="fas fa-phone-square"></i><a href="tel:+919874019487">  Hritesh Mourya: +919874019487 </a>
                    </dd>
                </dl>
            </div>
            <div class="col-md-4 col-xl-3">
                <h3 class="ml-0">Links</h3>
                <ul class="nav-list ml-1">
                    <li><a  style="text-decoration:none" href="/forum/">AskREC</a></li>
                    <li><a  style="text-decoration:none" href="/blog/">Blog</a></li>
                    <li><a  style="text-decoration:none" href="/events/calender/">Events</a></li>
                    <li><a  style="text-decoration:none" href="/get_started/">Get Started</a></li>
                    <li><a   style="text-decoration:none" href="/forum/faculty/">Faculty Advisors</a></li>
                    <li><a   style="text-decoration:none" href="/team/team_page/">Team</a></li>
                    <li><a  style="text-decoration:none" href="/forum/webdteam/">WebD Team</a></li>
                </ul>
            </div>
        </div>
</div>
</footer>
<script src="/static/js/loader.js"></script>
  
{% endblock body %}


